<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="browserGoButton.CausesValidation" value="True" />
    <add key="queryHitsGrid.AllowSorting" value="True" />
    <add key="queryHitsGrid.ColumnHeadersVisible" value="True" />
    <add key="queryHitsGrid.PreferredColumnWidth" value="190" />
    <add key="queryHitsGrid.PreferredRowHeight" value="16" />
    <add key="queryHitsGrid.ReadOnly" value="False" />
    <add key="queryHitsGrid.RowHeadersVisible" value="True" />
    <add key="queryHitsGrid.RowHeaderWidth" value="35" />
  </appSettings>
</configuration>